## 과제 1: Collections 모듈 활용

### EXAMPLE_SEQUENCE 값을 활용해보세요.

1. Deque: Deque를 생성하고, 요소를 추가하고 제거하는 작업을 해보세요.

2. Namedtuple: Namedtuple을 정의하고 인스턴스를 생성해보세요.

3. Defaultdict: Defaultdict를 사용해보세요. 키가 없을 때 기본값을 설정하세요.

4. Counter: Counter를 사용해 리스트에서 각 요소의 빈도를 세어보세요.

In [6]:
from collections import deque, namedtuple, defaultdict, Counter
EXAMPLE_SEQUENCE = ['dog', 'cat', 'mouse', 'parrot', 'frog']

1. Deque: Deque를 생성하고, 요소를 추가하고 제거하는 작업을 해보세요.

In [7]:
dq = deque(EXAMPLE_SEQUENCE)
print(dq)
dq.popleft()
print(dq)
dq.append('cow')
dq.appendleft('dog')
print(dq)

deque(['dog', 'cat', 'mouse', 'parrot', 'frog'])
deque(['cat', 'mouse', 'parrot', 'frog'])
deque(['dog', 'cat', 'mouse', 'parrot', 'frog', 'cow'])

2. Namedtuple: Namedtuple을 정의하고 인스턴스를 생성해보세요.

In [21]:
Animal = namedtuple('Animal', 'name age')
ages = [2, 3, 2, 4, 5]

dog = Animal(name=EXAMPLE_SEQUENCE[0], age=ages[0])
cat = Animal(name=EXAMPLE_SEQUENCE[1], age=ages[1])
print(dog,cat, sep='\n')

Animal(name='dog', age=2)
Animal(name='cat', age=3)

3. Defaultdict: Defaultdict를 사용해보세요. 키가 없을 때 기본값을 설정하세요.

In [26]:
dct1 = defaultdict(int)
for animal in EXAMPLE_SEQUENCE:
    dct1[animal] += 1
print(dct1)

EXAMPLE_SEQUENCE2 = ['dog', 'cat', 'mouse', 'parrot', 'frog', 'dog', 'cat', 'dog']
dct2 = defaultdict(int)
for animal in EXAMPLE_SEQUENCE2:
    dct2[animal] +=1
print(dct2)

defaultdict(<class 'int'>, {'dog': 1, 'cat': 1, 'mouse': 1, 'parrot': 1, 'frog': 1})
defaultdict(<class 'int'>, {'dog': 3, 'cat': 2, 'mouse': 1, 'parrot': 1, 'frog': 1})

4. Counter: Counter를 사용해 리스트에서 각 요소의 빈도를 세어보세요.

In [28]:
c1 = Counter(EXAMPLE_SEQUENCE)
print(c1)
c2 = Counter(EXAMPLE_SEQUENCE2)
print(c2)

Counter({'dog': 1, 'cat': 1, 'mouse': 1, 'parrot': 1, 'frog': 1})
Counter({'dog': 3, 'cat': 2, 'mouse': 1, 'parrot': 1, 'frog': 1})

## 과제 2: Comprehension 활용

### EXAMPLE_SEQUENCE 값을 활용해보세요.

1. 리스트 컴프리헨션: 숫자 리스트의 제곱값을 구하세요.

2. 딕셔너리 컴프리헨션: 키가 숫자이고 값이 그 숫자의 제곱인 딕셔너리를 생성하세요.

3. 집합 컴프리헨션: 중복된 값을 제거한 제곱값 집합을 생성하세요.

In [29]:
EXAMPLE_SEQUENCE = [1, 4, 12, 9, 22, 5, 1, 9]

1. 리스트 컴프리헨션: 숫자 리스트의 제곱값을 구하세요.

In [30]:
[x**2 for x in EXAMPLE_SEQUENCE]

[1, 16, 144, 81, 484, 25, 1, 81]

2. 딕셔너리 컴프리헨션: 키가 숫자이고 값이 그 숫자의 제곱인 딕셔너리를 생성하세요.

In [31]:
{x : x**2 for x in EXAMPLE_SEQUENCE}

{1: 1, 4: 16, 12: 144, 9: 81, 22: 484, 5: 25}

3. 집합 컴프리헨션: 중복된 값을 제거한 제곱값 집합을 생성하세요.

In [33]:
{x**2 for x in EXAMPLE_SEQUENCE}

{1, 16, 25, 81, 144, 484}

## 과제 3: Logging 활용

1. 기본 로깅 설정: 로깅을 설정하고 정보를 로깅하세요. 로그의 형태는 '시간 - 에러레벨 - 메시지' 입니다.

2. 예외 로깅: 예외가 발생했을 때 에러를 로깅하세요.

1. 기본 로깅 설정: 로깅을 설정하고 정보를 로깅하세요. 로그의 형태는 '시간 - 에러레벨 - 메시지' 입니다.

2. 예외 로깅: 예외가 발생했을 때 에러를 로깅하세요.

## 과제 4: 정규 표현식 사용

1. 기본 패턴 매칭: 이메일 주소를 추출하세요.

2. 기본 패턴 매칭: 비식별화를 진행하세요. ID를 앞 3글자 이외는 모두 '*'로 변경합니다.

3. 고급 패턴 매칭: HTML 태그를 제거하세요.

In [34]:
import re

1. 기본 패턴 매칭: 이메일 주소를 추출하세요.

In [41]:
email = "MY name is Jhin, my email is kakaotech@goorm.io"

pattern = r'\b[0-9a-zA-Z_.+-]{3,}@[a-zA-Z0-9]+\.[a-zA-Z0-9]{2,6}\b'

matches = re.findall(pattern, email)
print(matches)

emails = [
    "MY name is Jhin, my email is kakaotech@goorm.io",
    "example@example.com",    
    "user.name+tag@example.co.uk", 
    "user_name@example.co",   
    "user-name@example.io",   
    "ex@example.com",         
    "example@.com",          
    "example@domain.abcdefgh",
]
m = []
for e in emails:
    m.extend(re.findall(pattern, e))

print(m)

['kakaotech@goorm.io']
['kakaotech@goorm.io', 'example@example.com', 'user.name+tag@example.co', 'user_name@example.co', 'user-name@example.io']

2. 기본 패턴 매칭: 비식별화를 진행하세요. ID를 앞 3글자 이외는 모두 '*'로 변경합니다.

In [56]:
id_list = ["jhin.lee", "lovelove123", "세종대왕만세!!", "twin에너지123", "PostModern"]

pattern = r'(?<=^.{3}).*'

for id in id_list:
    new = ''
    for i in id:
        if len(new) > 3:

['jhi*', 'lov*', '세종대*', 'twi*', 'Pos*']

In [57]:
import re

id_list = ["jhin.lee", "lovelove123", "세종대왕만세!!", "twin에너지123", "PostModern"]

def an(id):
    # 처음 3글자는 그대로 두고 나머지를 *로 대체
    if len(id) > 3:
        return id[:3] + re.sub(r'.', '*', id[3:])
    else:
        return id  # 만약 ID가 3글자 이하라면 그대로 반환

anonymized_list = [an(id) for id in id_list]
print(anonymized_list)

['jhi*****', 'lov********', '세종대*****', 'twi*******', 'Pos*******']

In [44]:
import re

# 예제 ID 리스트
id_list = ["jhin.lee", "lovelove123", "세종대왕만세!!", "twin에너지123", "PostModern"]

# 비식별화 함수
def anonymize_id(id_str):
    pattern = r'(?<=^.{3}).'
    return re.sub(pattern, '*', id_str)

# 새 ID 리스트를 저장할 리스트
new_id_list = []

# 각 ID를 비식별화하고 출력
for i in id_list:
    new_id = anonymize_id(i)
    new_id_list.append(new_id)
    print(new_id)

# 결과 확인
print("Original IDs:", id_list)
print("Anonymized IDs:", new_id_list)

jhi*.lee
lov*love123
세종대*만세!!
twi*에너지123
Pos*Modern
Original IDs: ['jhin.lee', 'lovelove123', '세종대왕만세!!', 'twin에너지123', 'PostModern']
Anonymized IDs: ['jhi*.lee', 'lov*love123', '세종대*만세!!', 'twi*에너지123', 'Pos*Modern']

3. 고급 패턴 매칭: HTML 태그를 제거하세요.

In [60]:
html = "<p>Hello, <b>World!</b></p>"

pattern = r'<.*?>'
print(re.sub(pattern,'',html))

Hello, World!

## 과제 5: 멀티스레딩과 멀티프로세싱

1. 스레딩: 한 개의 스레드를 생성하고 실행하는 함수를 작성해주세요.

2. 멀티스레딩: 두 개의 스레드를 생성하고 실행하세요.

3. 멀티프로세싱: 두 개의 프로세스를 생성하고 실행하세요.

1. 스레딩: 한 개의 스레드를 생성하고 실행하는 함수를 작성해주세요.

2. 멀티스레딩: 두 개의 스레드를 생성하고 실행하세요.

3. 멀티프로세싱: 두 개의 프로세스를 생성하고 실행하세요.